/adminReviewBoard/
/memberComplainBoard/
/memberReviewBoard/
/memberSharedBoard/
/memberSharedComment/
/memberReviewComment/
/adminShareBoard/
/adminSharedComment/
/adminReviewComment/
/adminComplainComment/
/memberComplainComment/
